/* https://vecta.io/blog/best-way-to-embed-svg ref link for dealing with svg */
/* 
=== TABLE OF CONTENT === 


*/

/* === GENERAL === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background: #fff;
    color: #29282D;
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

a {
    text-decoration: none;
}

.btn-light, .btn-dark {
    font-size: 11px;
    text-transform: uppercase;
    border: #E65656 solid 1px;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 50px;
}

.btn-light {
    color: #E65656;
    background: #fff;
}

.btn-dark {
    color: #fff;
    background: #E65656;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.divider svg {
    display: block;
    height: 96px;
    width: 100%;
}

/* === LANDING SECTION === */

.landing-section {
    height: 100vh;
    padding: 100px 0 0 0;
    position: relative;
}

nav {
    margin: 0 0 50px 0;
}

.logo {
    width: 150px;
}

.landing-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.landing-content .landing-message {
    flex: 2 0 150px;
}

.landing-content .landing-message h1 {
    flex: 1 0 100%;
}

.landing-message h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.landing-message .btn-dark {
    margin-left: 30px;
}

.landing-image {
    flex: 1 0 150px;
}

.landing-image img {
    width: 100%;
}

.landing-section .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mouse {
    width: 100px;
    margin: 50px auto;
} 

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 1px solid #29282D;
    border-radius: 15px;
    margin: 0 auto;
}

.mouse-wheel {
    height: 6px;
    width: 3px;
    background: #29282D;
    border-radius: 40%;
    display: block;
    margin: 0 auto;
    animation: mouse-wheel-animate 1.6s ease infinite;
}

@keyframes mouse-wheel-animate {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

/* === PRODUCTS SECTION === */

.products-section {
    background: #E65656;
    position: relative;
}

.products-section .container {
    padding: 50px 0;
}

.products-section header {
    text-align: center;
}

.products-section .dash {
    width: 30px;
    border-top: 5px solid #fff;
    margin: 5px auto;
}

.products-section h2 {
    color: #fff;
}

.products-grid {
    margin: 60px 0; 
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.product {
    text-align: center;
}

.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.product h3 {
    color: #fff;
    font-weight: 200;
    margin: 20px 0 0 0;
    letter-spacing: 2px;
}

.products-section .divider {
    position: absolute; 
    transform: rotate(180deg);
}
